<%- include('../inc/top',{title:'Quản lý người dùng'}) %>
  <div class="container-fluid " style="width: 98%;">
    <div class="row col m-3">

      <form class="row col-3 me-2" method="post">
        <div style="background-color: #F0F4F8;border-radius: 25px;align-items: center;" class="row col">
          <div style="width: 10%;">
            <button type="submit" style="border: none;"><img src="https://cdn-icons-png.flaticon.com/128/622/622669.png"
                style="width: 20px;height: 20px;"></button>
          </div>
          <div style="width: 90%;">
            <input style="border-radius: 20px;border: #F0F4F8;background-color: #F0F4F8;border-radius: 25px;;"
              class="form-control" placeholder="Nhập từ khóa">
          </div>
        </div>

      </form>

      <div class="row col-3 me-5">
        <select class="form-select" style="background-color:  #F0F4F8;border-radius: 20px;">
          <option selected disabled>Sắp xếp theo</option>
          <option value="1">Sắp xếp từ a-z</option>
          <option value="2">Sắp xếp từ z-a</option>

        </select>
      </div>
      <div class="row col-4">

      </div>
      <div class="row col-2 ms-1" style="align-items: center;">
        <a href="http://localhost:3000/user/add"
          style="text-decoration: none; background-color: #F582AE; border-radius: 6px;text-align: center;padding: 7px;">
          <span style="color: white;font-weight: bold;">Thêm người dùng</span>
        </a>
      </div>
    </div>

    <table class="table" style="border: white; ">

      <tr style="background-color: #8BD3DD;">
        <th style="border-radius: 6px  0  0 6px;">Người dùng</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th style="border-radius: 0 6px 6px 0;"></th>
      </tr>



      <% listUser.forEach((row)=>{ %>
        <tr>
          <td style="display: flex;flex-direction: row;"> <img src=" <%= row.avatarUser %>"
              style="width: 50px;height: 50px;border-radius: 8px;">

            <div class="box" style="line-height: 8px;margin: 5px;">
              <p>
                <%= row.fullName %>
              </p>
              
              <a href="http://localhost:3000/user/delete"
                style="text-decoration: none;color: rgb(171, 169, 169);">Xóa</a>
            </div>



          </td>
          <td>

            <%= row.email %>

          </td>
          <td>

            <%= row.locationUser %>
          </td>
          <td>
            <%= row.phoneNumber %>
          </td>
          <td><a href="http://localhost:3000/user/detail"
              style="background-color: #F582AE;padding: 8px;border-radius: 10px;text-decoration: none;color: white; font-weight: bold;">Chi
              tiết</a></td>
        </tr>
        <% }) %>




    </table>

    <div
      style="display: flex; flex-direction: row; align-items: center;justify-content: space-between;position:absolute ; bottom: 0; width: 96%;">
      <p> Số bản ghi: <span style="font-weight: bold;">
          <%= countAllUser %>
        </span></p>

      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>


    </div>

  </div>
  <%- include('../inc/bottom') %>