<%- include('../inc/top',{title:'Chi tiết sản phẩm'}) %>
    <div class="container mt-2">
        <form action="" method="get">
            <div class="form-group row m-3" style="align-items: center;">
                <label for="username" class="col-sm-2 col-form-label">Ảnh sản phẩm</label>
                <div class="col-sm-10" style="display: flex; align-items: center;">
                    <% var imageShow=0; %>
                        <% if(typeof(ObjProduct.arrProduct) !=='undefined' && ObjProduct.arrProduct.length> 0) {
                            ObjProduct.arrProduct.slice(0,5).map(image=>{ %>
                            <img src="<%= image %>"
                                style="width: 12%; height: 100px; border-radius: 8px; box-shadow: 3px 3px #bfb8bb; margin: 5px;">
                            <% imageShow ++; }).join('') %>

                                <% if(ObjProduct.arrProduct.length> 5) { %>
                                    <span
                                        style="font-size: 18px; margin-left: 10px; color: #ffffff; background-color: rgb(199, 202, 202);padding: 12px; border-radius: 60px;">
                                        + <%= ObjProduct.arrProduct.length - imageShow %></span>
                                    <% }%>
                                        <% } else { %>
                                            <p>Sản phẩm không có ảnh</p>
                                            <% } %>
                </div>
            </div>

            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Tên sản phẩm</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= ObjProduct.nameProduct || 'Không có dữ liệu' %>
                    </label>
                </div>
                <label for="username" form="bold" class="col-sm-2 col-form-label">Giá tiền</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 200px; font-weight: bold; color: rgb(92, 90, 90);"
                        class="form-control">
                        <%= ObjProduct.priceProduct.toLocaleString('vi-VN') %> VNĐ
                    </label>
                </div>
            </div>

            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Số lượng sản phẩm</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= ObjProduct.amountProduct || 'Không có dữ liệu' %>
                    </label>
                </div>
                <label for="username" form="bold" class="col-sm-2 col-form-label">Số lượng bán</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 200px;" class="form-control">
                        <%= ObjProduct.quantitySold || 'Không có dữ liệu' %>
                    </label>
                </div>
            </div>

            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Đánh giá</label>
                <div class="col-sm-3">

                    <label type="text" class="form-control" style="width: 200px;">
                        <%= ObjProduct.ratings.length %>
                    </label>
                </div>
                <label for="username" form="bold" class="col-sm-2 col-form-label">Giảm giá</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 200px;" class="form-control">
                        <%= ObjProduct.discount || 'Không có dữ liệu' %>
                    </label>
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Thể loại</label>
                <div class="col-sm-3">
                    <% if(typeof( ObjProduct.idCategoryPr )!='undefined' ){%>
                        <label type="text" class="form-control" style="width: 200px;">
                            <%= ObjProduct.idCategoryPr.nameCategory %>
                        </label>
                        <%} else {%>
                            <label type="text" class="form-control" style="width: 200px;">
                                Không có thể loại
                            </label>
                            <%}%>
                </div>
                <label for="username" form="bold" class="col-sm-2 col-form-label">Mô tả sản phẩm</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="4" style="box-shadow: none;" readonly><%= ObjProduct.detailProduct || 'Không có dữ liệu' %>
                    </textarea>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-sm-10">
                        <a href="/product" style="background-color: #F582AE;" class="btn btn-secondary ">Quay lại</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <%- include('../inc/bottom') %>