<%- include('../inc/top',{title:'Chi tiết hóa đơn sản phẩm', adminLogin: adminLogin}) %>

    <div class="container mt-2">
        <table class="table align-middle" style="border: white; ">
            <tr style="background-color: #8BD3DD;">
                <th style="border-radius: 6px 0 0 6px;">Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá tiền</th>
                <th style="border-radius: 0 6px 6px 0;">Giảm giá</th>
                <% objBP.products.map((row)=> { %>
            </tr>
            <tr>
                <td>
                    <div class="box" style="line-height: 8px;margin: 5px;">
                        <p>
                            <%= row.idProduct.nameProduct %>
                        </p>
                        <!-- <a href="/product/delete/<%= row._id %>" style="text-decoration: none;color: rgb(171, 169, 169);"
                    data-bs-toggle="modal" data-bs-target="#ModalDeleteSP" data-bs-whatever="@mdo">
                    <span>Xóa</span>
                  </a> -->
                    </div>
                </td>
                <td>
                    <%= row.amount %>
                </td>
                <td style="font-weight: bold; color: rgb(92, 90, 90);">
                    <%= row.price.toLocaleString('vi-VN') %> VNĐ
                </td>

                <td>
                    <%= row.discount %>
                </td>
            </tr>
            <% }) %>

        </table>

        <form action="/pet" method="get" style="background-color: #f1f4f5; padding: 10px; border-radius: 15px; box-shadow: 5px 5px #c9c7c7;">
            <div class="form-group row m-3" style="align-items: center;">
                <label form="bold" class="col-sm-2 col-form-label">Chi tiết giỏ hàng</label>
                <label type="text" class="form-control ms-3" style="width: 200px;">
                    Không có thông tin
                </label>
            </div>

            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Thông tin liên hệ</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        Không có thông tin
                    </label>
                </div>

                <label for="username" form="bold" class="col-sm-2 col-form-label">Địa chỉ</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 200px;" class="form-control">
                        <%= objBP.location %>
                    </label>
                </div>

            </div>
            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Tên khách hàng</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= objBP.idUser.fullName %>
                    </label>
                </div>

                <label for="username" form="bold" class="col-sm-2 col-form-label">Ngày mua hàng</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 200px;" class="form-control">
                        <%= moment(objBP.purchaseDate).format('DD/MM/YYYY hh:mm:ss a') %>
                    </label>
                </div>

            </div>
            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Giảm giá hóa đơn</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= objBP.discountBill %>
                    </label>
                </div>

                <label for="username" form="bold" class="col-sm-2 col-form-label">Phí giao hàng</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 200px;" class="form-control">
                        <%= objBP.moneyShip %>
                    </label>
                </div>

            </div>
            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Thành tiền</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= objBP.total %>
                    </label>
                </div>

                <label for="username" form="bold" class="col-sm-2 col-form-label">Phương thức thanh toán</label>
                <div class="col-sm-5">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= objBP.paymentMethods %>
                    </label>
                </div>

            </div>

            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Trạng thái giao hàng</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= objBP.deliveryStatus %>
                    </label>
                </div>

                <!-- <label for="username" form="bold" class="col-sm-2 col-form-label">Shop</label>
                <div class="col-sm-3">
                        <label type="text" class="form-control" style="width: 200px;">
                        
                        </label>
                </div> -->
            </div>

            <div class="form-group row m-3">
                <div class="col-sm-10">
                    <a href="/bill-product" style="background-color: #F582AE;" class="btn btn-secondary mb-5">Quay
                        lại</a>
                </div>
            </div>
        </form>
    </div>

    <%- include('../inc/bottom') %>