<%- include('../inc/top',{title:'Quản lý hóa đơn sản phẩm'}) %>
  <div class="container-fluid " style="width: 98%;display: flex; flex-direction: column">
    <div class="row col m-3">
      <form action="" class="row col-3 me-2" method="get">
        <div
          style="background-color: #F0F4F8;border-radius: 25px;align-items: center;display: flex;flex-direction: row;">
          <div style="width: 10%;">
            <button type="submit" style="border: none;"><img src="/upload/iconFind.png"
                style="width: 20px;height: 20px;"></button>
          </div>
          <div style="width: 90%;">
            <input name="filterSearch"
              style="border: none;background-color: #F0F4F8;border-radius: 25px; box-shadow: none;" class="form-control"
              placeholder="Tìm kiếm">
          </div>
        </div>
      </form>

      <% if (typeof(listBillProduct) !=='undefined' && listBillProduct.length> 0) { %>
        <form action="" method="get" id="sortForm" class="row col-4 me-5"
          style="display: flex; flex-direction: row; justify-content: space-between;">
          <select name="sortOption" id="sortOption" class="row col-10 form-select"
            style="background-color: #F0F4F8;border-radius: 20px;border: none;box-shadow: none; width: 80%;">
            <option selected disabled>Sắp xếp hóa đơn</option>
            <option value="1"><button type="submit">Sắp xếp từ a-z</button></option>
            <option value="-1"><button type="submit">Sắp xếp từ z-a</button></option>
          </select>
        </form>
        <% } else { %>
          <div class="row col-4 me-5"></div>
          <% } %>
            
    </div>
    <% if (typeof(listBillProduct) !='undefined' && listBillProduct.length> 0) { %>
      <table class="table align-middle" style="border: white; ">
        <tr style="background-color: #8BD3DD;">
          <th style="border-radius: 6px 0 0 6px;">Tên khách hàng</th>
          <th>Số sản phẩm</th>
          <th>Tổng tiền</th>
          <th>Ngày mua hàng</th>
          <th style="border-radius: 0 6px 6px 0;"></th>       
        </tr>
        <% listBillProduct.forEach((row)=> { %>
        <tr>
          <td>
            <div class="box" style="line-height: 8px;margin: 5px;">
              <p>
                <%= row.idUser.fullName %>
              </p>
                <span style="color: #aaa8a8;">Liên hệ</span>
            </div>
          </td>
          <td>
            <%= row.products.length %> sản phẩm
          </td>
          <td style="font-weight: bold; color: rgb(92, 90, 90);">
            <%= row.total.toLocaleString('vi-VN') %>  VNĐ
          </td>
          <td>
            <%= moment(row.purchaseDate).format('DD/MM/YYYY hh:mm:ss a') %>
          </td>
          <td><a href="/bill-product/detail/<%= row._id%>"
              style="background-color: #F582AE;padding: 8px;border-radius: 10px;text-decoration: none;color: white; font-weight: bold;">Chi
              tiết</a></td>
        </tr>
        <% }) %>

      </table>

      <div
        style="display: flex; flex-direction: row; align-items: center;justify-content: space-between;position:absolute ; bottom: 0; width: 96%;">
        <p> Số bản ghi: <span style="font-weight: bold;">
            <%= countNowBill %>/<%= countAllBill %>
          </span></p>
        <nav>
          <ul class="pagination">
            <% if (page> 1) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% } %>

                <% for (let i=1; i <=totalPages; i++) { %>
                  <li class="page-item <%= i === page ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>

                    <% if (page < totalPages) { %>
                      <li class="page-item">
                        <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      <% } %>
          </ul>
        </nav>
      </div>
      <% } else { %>
        <div class="no-results-message" style="text-align: center;">
          <p style="color: #F582AE; font-size: 24px; margin-top: 150px; ">Không có dữ liệu</p>
          <img
            src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-empty-box-icon-for-your-project-png-image_4820798.jpg"
            alt="No data" style="width: 150px; height: 150px;" />
        </div>
        <% } %>

  </div>
  <%- include('../inc/bottom') %>

    <script>
      const sortOptionDropdown = document.getElementById('sortOption');
      const sortForm = document.getElementById('sortForm');

      sortOptionDropdown.addEventListener('change', function () {
        sortForm.submit();
      });
    </script>