<%- include('../inc/top',{title:'Chi tiết cửa hàng', adminLogin: adminLogin}) %>

    <div class="container mt-2">
        <form action="" method="get">
            <div class="form-group row m-3" style="align-items: center;">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Avatar</label>
                <div class="col-sm-5">
                    <% if (typeof(ObjShop.avatarShop) !=='undefined' ) { %>

                        <img src="<%= ObjShop.avatarShop %>" style="width: 100px; height: 100px; border-radius: 10px;"
                            class="img-fluid">

                        <% } else { %>
                            <p>No images available.</p>
                            <% } %>
                </div>
            </div>

            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Tên cửa hàng</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= ObjShop.nameShop %>
                    </label>
                </div>

                <label for="username" form="bold" class="col-sm-2 col-form-label">Email cửa hàng</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 250px; overflow: hidden;" class="form-control">
                        <%= ObjShop.email %>
                    </label>
                </div>

            </div>

            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Địa chỉ cửa hàng</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= ObjShop.locationShop %>
                    </label>
                </div>

                <label for="username" form="bold" class="col-sm-2 col-form-label">Followers</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 250px;" class="form-control">
                        <%= ObjShop.followers %>
                    </label>
                </div>

            </div>
            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        0<%= ObjShop.hotline %>
                    </label>
                </div>

                <label for="username" form="bold" class="col-sm-2 col-form-label">Doanh thu</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 250px;" class="form-control">
                        <%= ObjShop.revenue %>
                    </label>
                </div>

            </div>
            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Trạng thái</label>
                <div class="col-sm-3">
                    <label type="text" class="form-control" style="width: 200px;">
                        <%= ObjShop.status = 0 ? 'Đã được duyệt':'Chưa được duyệt' %>
                    </label>
                </div>

                <label for="username" form="bold" class="col-sm-2 col-form-label">Mô tả shop</label>
                <div class="col-sm-3">
                    
                    <textarea class="form-control" rows="4" style="box-shadow: none;"
                        readonly> <%= ObjShop.description %>
                    </textarea>
                </div>

            </div>

            <div class="form-group row m-3">
                <label for="username" form="bold" class="col-sm-2 col-form-label">Thông tin chủ cửa hàng</label>
                <div class="col-sm-3">
                    <a style="background-color: #F582AE;" href="/shop/detailOwner/<%= ObjShop._id %>" class="btn btn-secondary ">Xem chi tiết</a>
                </div>
                <label for="username" form="bold" class="col-sm-2 col-form-label">Ngày đăng ký</label>
                <div class="col-sm-3">
                    <label type="text" style="width: 250px;" class="form-control">
                        <%= moment(ObjShop.createdAt).format('DD/MM/YYYY hh:mm:ss a') %>
                    </label>
                </div>

            </div>

    </div>
    <div class="form-group row m-3">
        <div class="col-sm-10" style="margin-left: 90px;">
            <a style="background-color: #F582AE;" href="/shop" class="btn btn-secondary ">Quay lại</a>
        </div>
    </div>
    </form>

    </div>

    <%- include('../inc/bottom') %>