<%- include('../inc/top', { title: 'Chi tiết shop' }) %>
    <div class="container mt-2">
        <div class="form-group row m-3 align-items-center">
            <label class="col-sm-2 col-form-label">Ảnh shop</label>
            <div class="col-sm-5">
                <% if (typeof(ObjShop.avatarShop) !=='undefined' ) { %>
                    <img src="<%= ObjShop.avatarShop %>" class="img-fluid rounded" alt="Avatar"
                        style="max-width: 100px; max-height: 100px;">
                    <% } else { %>
                        <p>No images available.</p>
                        <% } %>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Tên shop</label>
            <div class="col-sm-3">
                <label class="form-control">
                    <%= ObjShop.nameShop %>
                </label>
            </div>
            <label class="col-sm-2 col-form-label">Email shop</label>
            <div class="col-sm-4">
                <label class="form-control">
                    <%= ObjShop.email %>
                </label>
            </div>
        </div>
        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Địa chỉ shop</label>
            <div class="col-sm-3">
                <label class="form-control">
                    <%= ObjShop.locationShop %>
                </label>
            </div>

            <label class="col-sm-2 col-form-label">Mô tả shop</label>
            <div class="col-sm-4">
                <label class="form-control" style="max-height: 100px; overflow-y: auto;">
                    <%= ObjShop.description %>
                </label>
            </div>
        </div>
        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Số điện thoại</label>
            <div class="col-sm-3">
                <label class="form-control">
                    <%= ObjShop.hotline %>
                </label>
            </div>
        </div>
        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Trạng thái shop</label>
            <div class="col-sm-3">

                <% if (ObjShop.status===0) { %>
                    <label class="form-control">
                        Không hoạt động
                    </label>
                    <% } else if (ObjShop.status===1) { %>
                        <label class="form-control">
                            Đang hoạt động
                        </label>

                        <% } else { %>
                            <label type="text" style="width: 200px;">
                                Lỗi không xác định
                            </label>
                            <% } %>
            </div>
        </div>
        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Ngày tạo</label>
            <div class="col-sm-3">
                <label class="form-control">
                    <%= moment(ObjShop.createdAt).format('DD/MM/YYYY hh:mm:ss a') %>
                </label>
            </div>
        </div>

        <div class="form-group row m-3">
            <div class="col-sm-10">
                <a href="/shop" class="btn" style="background-color: #F582AE; color: white;">Quay lại</a>
            </div>
        </div>
    </div>

    <%- include('../inc/bottom') %>