<%- include('../inc/top',{title:'Quản lý cửa hàng', adminLogin: adminLogin}) %>
  <div class="container-fluid " style="width: 98%;display: flex; flex-direction: column" >
    
    <div class="row col m-3">
      <form action="" class="row col-3 me-2" method="get">
        <div
          style="background-color: #F0F4F8;border-radius: 25px;align-items: center;display: flex;flex-direction: row;">
          <div style="width: 10%;">
            <button type="submit" style="border: none;"><img src="/upload/iconFind.png"
                style="width: 20px;height: 20px;"></button>
          </div>
          <div style="width: 90%;">
            <input name="filterSearch"
              style="border: none;background-color: #F0F4F8;border-radius: 25px; box-shadow: none;" class="form-control"
              placeholder="Tìm kiếm">
          </div>
        </div>
      </form>

      <form action="" method="get" id="sortForm" class="row col-4 me-5"
        style="display: flex; flex-direction: row; justify-content: space-between;">
        <select name="sortOption" id="sortOption" class="row col-10 form-select"
          style="background-color: #F0F4F8;border-radius: 20px;border: none;box-shadow: none; width: 80%;">
          <option selected disabled>Sắp xếp tên shop</option>
          <option value="1"><button type="submit">Sắp xếp từ a-z</button></option>
          <option value="-1"><button type="submit">Sắp xếp từ z-a</button></option>

        </select>
      </form>

      <div class="row col-3">
        
      </div>
     
    </div>

    <% if (typeof listShop !== 'undefined' && listShop.length > 0) { %>
    <table class="table align-middle" style="border: white; ">

      <tr style="background-color: #8BD3DD;">
        <th scope="col" style="border-radius: 6px 0 0 6px;">Tên cửa hàng</th>
        <th scope="col">Email</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Ngày tạo</th>
        <th scope="col" style="border-radius: 0 6px 6px 0;"></th>
        <% listShop.forEach((row) => { %>
      </tr>
        <tr>

          <td>
            <div class="box" style="line-height: 8px;margin: 5px;">
              <p>
                <%= row.nameShop %>
              </p>
              <a href="/shop/delete/<%= row._id %>" style="text-decoration: none;color: rgb(171, 169, 169);" data-bs-toggle="modal" data-bs-target="#ModalDeleteSP" data-bs-whatever="@mdo" >
                <span>Xóa</span>
               </a>
                
            </div>
          </td>
          <td>
            <%= row.email %>

          </td>
          <td>
            <%= row.status = 0 ? 'Chưa được duyệt':'Đã được duyệt' %> 
          </td>

          <td>
            <%= moment(row.createdAt).format('DD/MM/YYYY hh:mm:ss a') %>
          </td>
          <td><a href="/shop/detail/<%= row._id%>"
              style="background-color: #F582AE;padding: 8px;border-radius: 10px;text-decoration: none;color: white; font-weight: bold;">Chi
              tiết</a></td>
        </tr>
        <% }) %>

    </table>

<div  style="display: flex; flex-direction: row; align-items: center;justify-content: space-between;position:absolute ; bottom: 0; width: 96%;">
  <p> Số bản ghi: <span style="font-weight: bold;"><%= countNowShop %>/<%= countAllShop %></span></p>
  <nav>
    <ul class="pagination">
      <% if (currentPage > 1) { %>
      <li class="page-item">
        <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% } %>

      <% for (let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
      </li>
      <% } %>

      <% if (currentPage < totalPages) { %>
      <li class="page-item">
        <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <% } %>
    </ul>
  </nav>
</div>
<% } else { %>
    <div class="no-results-message">
      <p class="m-3">Không tìm thấy kết quả</p>
  </div>
<% } %>

  </div>
  <%- include('../inc/bottom') %>

<script>
  const sortOptionDropdown = document.getElementById('sortOption');
  const sortForm = document.getElementById('sortForm');

  sortOptionDropdown.addEventListener('change', function () {
    sortForm.submit();
  });
</script>