<%- include('../inc/top',{title:'Xóa bài viết'}) %>
    <div class="container">
        <% if(msg) { %>
            <div class="row mb-2">
                <span class="p-3"
                    style="background-color: rgb(175, 214, 239); border-radius: 10px;color: red;font-weight: bold;">
                    <%= msg %>
                </span>
            </div>
            <% }%>
                <div class="col-5 m-auto card">
                    <form action="" class="card-body" method="post">
                        <h5 class="card-text  mb-3">
                            Bạn có chắc muốn xóa bài viết
                            <% if(objB.contentBlog.length < 50) { %>
                                <span style="font-weight: bold">
                                    <%= objB.contentBlog %>
                                </span> ?
                                <% } else { %>
                                    <span style="font-weight: bold">
                                        <%= objB.contentBlog.slice(0,50) %>...
                                    </span> ?
                        </h5>
                        <%}%>
                            </h5>
                            <button class="btn btn-danger" type="submit">Xóa ngay</button>
                            <a href="/blog" class="btn" style="background-color: #d2d2d2;">Hủy bỏ</a>
                    </form>
                </div>
    </div>
    <%- include('../inc/bottom') %>