<%- include('../inc/top',{title:'Chi tiết bài viết'}) %>
    <div class="container mt-2">

        <div class="form-group row m-2">
            <label for="usernameShopUS" class="col-sm-5 col-form-label" style="color: #848485;">
                Trang này để xem chi tiết bài viết
            </label>
            <div class="col-sm-5">
            </div>
        </div>
        <form action="" method="get">
            <div class="form-group row m-2" style="align-items: center;">
                <label for="username" form="bold" class="col-sm-3 col-form-label">Ảnh bài viết</label>
                <div class="col-sm-5 ">
                    <% if(typeof(objB.imageBlogs )!='undefined' ) { 
                        objB.imageBlogs.forEach((item)=>{ %>                       
                            <img src="<%= item %>" style="width: 100px;height: 100px; border-radius: 8px;" class="img-fluid">
                        <%}) } else { %>
                            <img src="/upload/avatar_null.png" style="width: 100px;height: 100px;"
                                class="img-fluid">
                            <% }%>
                </div>
            </div>
            
            <div class="row col-12 m-2">
                <div class="row col-9">
                    <label for="username" form="bold" class="col-sm-3 col-form-label">Nội dung</label>
                    <div class="col-sm-4">
                        <textarea id="username" cols="50" rows="4" class="form-control" style="box-shadow: none;width: 350px;margin-left: 70px;" readonly><%= objB.contentBlog%></textarea>
                    </div>
                </div>
                
                <div class="row col-3">
                    <label for="interect" form="bold" class="col-sm-3 col-form-label" style="width: 100px;">Tương tác</label>
                    <div class="col-sm-4">
                        <label type="text" class="form-control" id="interect" style="width: 100px;">
                            <%= objB.interacts.length %>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row m-2">
                <label for="username" form="bold" class="col-sm-3 col-form-label">Ngày đăng bài</label>
                <div class="col-sm-4">
                    <label type="text" class="form-control" id="username">
                        <%= moment(objB.createAt).format('l') %>
                    </label>
                </div>
                <div class="row col-3" style="margin-left: 160px;">
                    <label for="comment" form="bold" class="col-sm-3 col-form-label" style="width: 100px;">Bình luận</label>
                    <div class="col-sm-4">
                        <label type="text" class="form-control" id="comment" style="width: 100px;">
                            <%= objB.comments %>
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="form-group row m-2">
                <label class="col-sm-3 col-form-label">Chủ bài đăng</label>
                <div class="col-sm-4">
                    <label type="text" class="form-control" id="diachi">
                        <%= objB.idUser.fullName %>
                    </label>
                </div>
                <div class="row col-3" style="margin-left: 160px;">
                    <label for="share" form="bold" class="col-sm-3 col-form-label" style="width: 100px;">Chia sẻ</label>
                    <div class="col-sm-4">
                        <label type="text" class="form-control" id="share" style="width: 100px;">
                            <%= objB.shares %>
                        </label>
                    </div>
                </div>
            </div>
            <!-- Số điện thoại -->
            <div class="form-group row m-2">
                <label for="phone" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-4">
                    <label type="text" class="form-control" id="sdt">
                        <%= objUserAcc.emailAddress %>
                    </label>
                </div>
            </div>
            <div class="form-group row m-2">
                <div class="col-sm-10">
                    <a href="/blog" style="background-color: #F582AE; color: aliceblue;" type="submit" class="btn">Quay lại</a>
                </div>
            </div>
        </form>

    </div>
    <%- include('../inc/bottom') %>